# Local development
.idea/
main-packaged.template
.env
deploy.sh
.DS_Store
/.custom.mk
/cfn/packaged.template
.venv

# Ignore all the libraries installed via pip
custom-resource/dms_iam_roles/*
custom-resource/dms_task_conf/*
custom-resource/peering_dns_conf/*

# But include the code
!custom-resource/dms_iam_roles/iam.py
!custom-resource/dms_task_conf/task.py
!custom-resource/peering_dns_conf/peering.py

!custom-resource/dms_iam_roles/requirements.txt
!custom-resource/dms_task_conf/requirements.txt
!custom-resource/peering_dns_conf/requirements.txt
