# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:

# General
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: detect-private-key
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args:
      - --fix=lf
    exclude: /package-lock\.json$
  - id: check-added-large-files
    args:
      - --maxkb=1000
  - id: check-merge-conflict

# Secrets
- repo: https://github.com/awslabs/git-secrets
  rev: 80230afa8c8bdeac766a0fece36f95ffaa0be778
  hooks:
  - id: git-secrets
    entry: git-secrets --scan
    files: .

# CloudFormation
- repo: https://github.com/aws-cloudformation/cfn-lint
  rev: v0.83.2
  hooks:
  - id: cfn-lint-rc
    files: cfn/.*\.(ya?ml|template)$

- repo: https://github.com/aws-cloudformation/rain
  rev: v1.20.0
  hooks:
  - id: cfn-format
    files: cfn/.*\.(ya?ml|template)$

    # Python
- repo: https://github.com/pycqa/pylint
  rev: v4.0.2
  hooks:
    - id: pylint
      args:
        - --errors-only
        - --disable=E0401

- repo: https://github.com/psf/black
  rev: 25.9.0
  hooks:
    - id: black

- repo: https://github.com/PyCQA/isort
  rev: 7.0.0
  hooks:
    - id: isort
      args: ["--profile", "black"]
